body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
